$cWhite: white;
$cBlack: #533c34;
$cSubTitle: #FF3630;
$cBgGray: #eaebe6;
$cWineRed: #E6955B;
$contentMaxWidth: 1070px;
$navHeight: 100px;

$color1: #5271C2;
$color2: #35a541;
$color3: #bdb235;
$color4: #db6623;
$color5: #3e5eb3;
$color6: #aa9e5c;